# 1. Create a Series from a list of integers representing daily 
# temperatures (in Celsius) over a week. Assign index labels as day 
# of the week. 
a. Find and print the average (mean) temperature for the week. 

b. Identify and print the maximum and minimum temperatures 
and their respective days. 

c. Display the temperatures greater than a specific value.

d. Convert all temperatures to Fahrenheit. 

e. Print the days had temperatures above the average. 





## 2. Create a data frame with details of 10 students and columns as 
## Roll Number, Name, Gender, Marks1, Marks2, Marks3. 
a. Create a new column with total marks 

b. Find the lowest marks in Marks1 

c. Find the Highest marks in Marks2 

d. Find the average marks in Marks3 

e. Find student name with highest average 

f. Find how many students failed in Marks2 (<40)

## Problem 1

In [1]:
#sitaram dubagunta , PC 50 , 240911624

import pandas as pd
import numpy as np

temp = [23,25,24,26,27,28,30]
temp = pd.Series(temp , index = ["sunday" , "monday" , "tuesday" ,"wednesday" ,"thursday" ,"friday","saturday"])
temp

sunday       23
monday       25
tuesday      24
wednesday    26
thursday     27
friday       28
saturday     30
dtype: int64

In [2]:
average_temp = temp.mean()
print("average temperature of the week" ,  average_temp)

average temperature of the week 26.142857142857142

In [3]:
max_temp = temp.max()
print("maximum temperature of the week" , max_temp)

maximum temperature of the week 30

In [4]:
min_temp = temp.min()
print("minimum temperature of the week" , min_temp)

minimum temperature of the week 23

In [5]:
#displaying the temperatures from the series that are greatre than 25

temp.loc[temp > 25]

wednesday    26
thursday     27
friday       28
saturday     30
dtype: int64

In [6]:
temp = temp*(1.8) +32

In [7]:
temp

sunday       73.4
monday       77.0
tuesday      75.2
wednesday    78.8
thursday     80.6
friday       82.4
saturday     86.0
dtype: float64

In [8]:
temp.loc[temp > temp.mean()]

thursday    80.6
friday      82.4
saturday    86.0
dtype: float64

## Problem 2

In [1]:
import pandas as pd
# Step 1: Create a DataFrame with details of 10 students
data = {
"Roll Number": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
"Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank",
"Grace", "Hank", "Ivy", "Jack"],
"Gender": ["F", "M", "M", "M", "F", "M", "F", "M", "F", "M"],
"Marks1": [85, 90, 78, 92, 88, 76, 95, 89, 80, 70],
"Marks2": [82, 88, 75, 90, 85, 72, 92, 87, 78, 68],
"Marks3": [80, 85, 70, 88, 82, 70, 90, 84, 75, 65]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
# Step a: Create a new column with total marks
df["Total Marks"] = df["Marks1"] + df["Marks2"] + df["Marks3"]
print("\nDataFrame with Total Marks:")
print(df)
# Step b: Find the lowest marks in Marks1
lowest_marks1 = df["Marks1"].min()
print(f"\nLowest marks in Marks1: {lowest_marks1}")
# Step c: Find the highest marks in Marks2
highest_marks2 = df["Marks2"].max()
print(f"Highest marks in Marks2: {highest_marks2}")
# Step d: Find the average marks in Marks3
average_marks3 = df["Marks3"].mean()
print(f"Average marks in Marks3: {average_marks3:.2f}")
# Step e: Find the student name with the highest average
df["Average Marks"] = df[["Marks1", "Marks2", "Marks3"]].mean(axis=1)
student_highest_avg = df.loc[df["Average Marks"].idxmax(), "Name"]
print(f"Student with the highest average: {student_highest_avg}")
# Step f: Find how many students failed in Marks2 (marks < 40)
failed_students = df[df["Marks2"] < 40].shape[0]
print(f"Number of students who failed in Marks2: {failed_students}")

Original DataFrame:
   Roll Number     Name Gender  Marks1  Marks2  Marks3
0            1    Alice      F      85      82      80
1            2      Bob      M      90      88      85
2            3  Charlie      M      78      75      70
3            4    David      M      92      90      88
4            5      Eva      F      88      85      82
5            6    Frank      M      76      72      70
6            7    Grace      F      95      92      90
7            8     Hank      M      89      87      84
8            9      Ivy      F      80      78      75
9           10     Jack      M      70      68      65

DataFrame with Total Marks:
   Roll Number     Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1    Alice      F      85      82      80          247
1            2      Bob      M      90      88      85          263
2            3  Charlie      M      78      75      70          223
3            4    David      M      92      90      88          270
4            5      Eva      F      88      85      82          255
5            6    Frank      M      76      72      70          218
6            7    Grace      F      95      92      90          277
7            8     Hank      M      89      87      84          260
8            9      Ivy      F      80      78      75          233
9           10     Jack      M      70      68      65          203

Lowest marks in Marks1: 70
Highest marks in Marks2: 92
Average marks in Marks3: 78.90
Student with the highest average: Grace
Number of students who failed in Marks2: 0